@charset "utf-8";
.flip {
    width: 300px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    perspective: 300px;
    perspective-origin: 50% 50%;
}

.flip.example {
    top: 25%;
    height: 100px;
    width: 400px;
}

.flip div {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 0%;
    box-sizing: border-box;
    transform-origin: 0% 50%;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.flip.example div {
    animation-duration: 4s;
}

.flip div:nth-child(1) {
    left: 0%;
    background-color: #A4036F;
    animation-name: flipPreloader1;
    z-index: 1;
}

.flip div:nth-child(2) {
    left: 20%;
    background-color: #048BA8;
    animation-name: flipPreloader2;
    z-index: 2;
}

.flip div:nth-child(3) {
    left: 40%;
    background-color: #16DB93;
    animation-name: flipPreloader3;
    z-index: 3;
}

.flip div:nth-child(4) {
    left: 60%;
    background-color: #EFEA5A;
    animation-name: flipPreloader4;
    z-index: 4;
}

.flip div:nth-child(5) {
    left: 80%;
    background-color: #F29E4C;
    animation-name: flipPreloader5;
    z-index: 5;
}

@keyframes flipPreloader1 {
    0% {
        transform: rotateY(-180deg);
        opacity: 0;
        transform-origin: 0% 50%;
        background-color: #A4036F;
    }
    4% {
        background-color: #A4036F;
    }
    5% {
        background-color: #F29E4C;
    }
    10% {
        transform: rotateY(0deg);
        opacity: 1;
        background-color: #F29E4C;
        transform-origin: 0% 50%;
    }
    11% {
        transform-origin: 100% 50%;
        background-color: #A4036F;
    }
    48% {
        z-index: 1;
    }
    49% {
        z-index: 10;
    }
    50% {
        transform: rotateY(0deg);
    }
    51% {
        transform-origin: 100% 50%;
    }
    60% {
        transform: rotateY(180deg);
        opacity: 1;
        background-color: #A4036F;
    }
    61% {
        opacity: 0;
    }
    100% {
        z-index: 10;
        transform: rotateY(180deg);
        opacity: 0;
        transform-origin: 100% 50%;
        background-color: #A4036F;
    }
}

@keyframes flipPreloader2 {
    0% {
        transform: rotateY(-180deg);
        background-color: #F29E4C;
        opacity: 0;
        transform-origin: 0% 50%;
    }
    9% {
        opacity: 0;
    }
    10% {
        transform: rotateY(-180deg);
        opacity: 1;
    }
    15% {
        background-color: #F29E4C;
    }
    20% {
        background-color: #F29E4C;
        transform: rotateY(0deg);
        transform-origin: 0% 50%;
    }
    21% {
        transform-origin: 100% 50%;
        background-color: #048BA8;
    }
    48% {
        z-index: 2;
    }
    49% {
        z-index: 9;
    }
    60% {
        opacity: 1;
        transform: rotateY(0deg);
        background-color: #048BA8;
    }
    61% {
        background-color: #A4036F;
        transform-origin: 100% 50%;
    }
    64% {
        background-color: #A4036F;
    }
    65% {
        background-color: #048BA8;
    }
    70% {
        transform: rotateY(180deg);
        opacity: 1;
    }
    71% {
        opacity: 0;
    }
    100% {
        z-index: 9;
        background-color: #048BA8;
        transform: rotateY(180deg);
        opacity: 0;
        transform-origin: 100% 50%;
    }
}

@keyframes flipPreloader3 {
    0% {
        transform: rotateY(-180deg);
        background-color: #F29E4C;
        opacity: 0;
        transform-origin: 0% 50%;
    }
    19% {
        opacity: 0;
    }
    20% {
        transform: rotateY(-180deg);
        opacity: 1;
    }
    25% {
        background-color: #F29E4C;
    }
    30% {
        background-color: #F29E4C;
        transform: rotateY(0deg);
        transform-origin: 0% 50%;
    }
    31% {
        transform-origin: 100% 50%;
        background-color: #16DB93;
    }
    48% {
        z-index: 3;
    }
    49% {
        z-index: 8;
    }
    70% {
        transform: rotateY(0deg);
        opactiy: 1;
        background-color: #16DB93;
    }
    71% {
        background-color: #048BA8;
        transform-origin: 100% 50%;
    }
    74% {
        background-color: #048BA8;
    }
    75% {
        background-color: #16DB93;
    }
    80% {
        transform: rotateY(180deg);
        opacity: 1;
    }
    81% {
        opacity: 0;
    }
    100% {
        z-index: 8;
        background-color: #16DB93;
        transform: rotateY(180deg);
        opacity: 0;
        transform-origin: 100% 50%;
    }
}

@keyframes flipPreloader4 {
    0% {
        transform: rotateY(-180deg);
        background-color: #F29E4C;
        opacity: 0;
        transform-origin: 0% 50%;
    }
    29% {
        opacity: 0;
    }
    30% {
        transform: rotateY(-180deg);
        opacity: 1;
    }
    35% {
        background-color: #F29E4C;
    }
    40% {
        background-color: #F29E4C;
        transform: rotateY(0deg);
        transform-origin: 0% 50%;
    }
    41% {
        transform-origin: 100% 50%;
        background-color: #EFEA5A;
    }
    48% {
        z-index: 4;
    }
    49% {
        z-index: 7;
    }
    80% {
        transform: rotateY(0deg);
        opacity: 1;
        background-color: #EFEA5A;
    }
    81% {
        background-color: #16DB93;
        transform-origin: 100% 50%;
    }
    84% {
        background-color: #16DB93;
    }
    85% {
        background-color: #EFEA5A;
    }
    90% {
        transform: rotateY(180deg);
        opacity: 1;
    }
    91% {
        opacity: 0;
    }
    100% {
        z-index: 7;
        background-color: #EFEA5A;
        transform: rotateY(180deg);
        opacity: 0;
        transform-origin: 100% 50%;
    }
}

@keyframes flipPreloader5 {
    0% {
        transform: rotateY(-180deg);
        background-color: #F29E4C;
        opacity: 0;
        transform-origin: 0% 50%;
    }
    39% {
        opacity: 0;
    }
    40% {
        transform: rotateY(-180deg);
        opacity: 1;
    }
    45% {
        background-color: #F29E4C;
    }
    48% {
        z-index: 5;
    }
    49% {
        z-index: 6;
    }
    50% {
        background-color: #F29E4C;
        transform: rotateY(0deg);
        transform-origin: 0% 50%;
    }
    51% {
        transform-origin: 100% 50%;
        background-color: #F29E4C;
    }
    90% {
        transform: rotateY(0deg);
        opacity: 1;
        background-color: #F29E4C;
    }
    91% {
        background-color: #EFEA5A;
        transform-origin: 100% 50%;
    }
    94% {
        background-color: #EFEA5A;
    }
    95% {
        background-color: #F29E4C;
    }
    100% {
        z-index: 6;
        background-color: #F29E4C;
        transform: rotateY(180deg);
        opacity: 0;
        transform-origin: 100% 50%;
    }
}
