@charset "utf-8";
body > div {
    position: relative;
    height: 300px;
}

div > div {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 75px;
}

span {
    position: absolute;
    top: 35px;
}

.line-through {
    position: relative;
    text-decoration: line-through;
    color: #999;
    top: 0;
}

.base {
    background: #DDFFF7;
}

.transform {
    background: #FFD2FC;
}

.or1 {
    left: 385px;
    transform-origin: 0 0;
}

.or2 {
    left: 690px;
    transform-origin: 100% 100%;
}

.tr0 > .transform {
    transform: none;
}

.tr1 > .transform {
    transform: translate(10px, 10px);
}

.tr2 > .transform {
    transform: translateX(30px);
}

.tr3 > .transform {
    transform: translateY(30px);
}

.tr4 > .transform {
    transform: scale(1.3, .7);
}

.tr5 > .transform {
    transform: scaleX(.5);
}

.tr6 > .transform {
    transform: scaleY(2);
}

.tr7 > .transform {
    transform: rotate(60deg);
}

.tr8 > .transform {
    transform: rotateX(60deg);
}

.tr9 > .transform {
    transform: rotateY(60deg);
}

.tr10 > .transform {
    transform: skew(15deg, 30deg);
}

.tr11 > .transform {
    transform: skewX(45deg);
}

.tr12 > .transform {
    transform: skewY(45deg);
}

.tr13 > .transform {
    transform: matrix(1, .5, .5, 1, 0, 0);
}
